<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosta.bucket.dao.mapper.BucketDaoMapper">

	<resultMap type="Bucket" id="resultBucket">
		<id property="bucketId" column="ID" />
		<result property="title" column="TITLE" />
		<result property="image" column="IMAGE" />
		<result property="contents" column="CONTENTS" />
		<result property="writerId" column="WRITER_ID" />
		<result property="registDate" column="REG_DATE" />
		<result property="recomNum" column="RECOMMEND" />
		<result property="accuseNum" column="ACCUESED" />
	</resultMap>

	<resultMap type="Comment" id="resultComment">
		<id property="commentId" column="ID" />
		<result property="bucketId" column="BUCKET_ID" />
		<result property="contents" column="CONTENTS" />
		<result property="writerId" column="WRITER_ID" />
		<result property="registDate" column="REG_DATE" />
	</resultMap>

	<sql id="selectBucket">
		SELECT id, title, image, contents, writer_id, reg_date,
		recommend, accuesed
		FROM bucket
	</sql>

	<sql id="selectComment">
		SELECT id, bucket_id, contents, writer_id, reg_date
		FROM
		comments
	</sql>


	<select id="retrieveBucket" parameterType="string" resultMap="resultBucket">
		<include refid="selectBucket" />
		WHERE ID=#{bucketId}
	</select>

	<insert id="insertComment" parameterType="Comment">
		INSERT INTO COMMENTS (ID, BUCKET_ID, CONTENTS, WRITER_ID, REG_DATE)
		VALUES (BUCKET_SEQ.nextval, #{bucketId}, #{contents}, #{writerId},
		#{registDate})
	</insert>

	<delete id="deleteComment" parameterType="string">
		DELETE FROM COMMENTS WHERE ID=#{commentId}
	</delete>

	<select id="selectBucketComment" parameterType="string"
		resultMap="resultComment">
		<include refid="selectComment" />
		WHERE BUCKET_ID=#{bucketId}
	</select>

	<insert id="insertBucket" parameterType="Bucket">
		INSERT INTO bucket (ID, TITLE, IMAGE, CONTENTS, WRITER_ID, REG_DATE)
		VALUES (BUCKET_SEQ.nextval, #{title}, #{image}, #{contents}, #{writerId},
		#{registDate})
	</insert>

	<update id="updateRecommand" parameterType="string">
		UPDATE bucket set
		recommend= recommend+1 WHERE id=#{bucketId}
	</update>

	<update id="updateAccuse" parameterType="String">
		UPDATE bucket set
		accuesed = accuesed+1 WHERE id=#{bucketId}
	</update>

	<update id="updateBucket" parameterType="Bucket">
		UPDATE bucket
		SET TITLE =
		#{title}, IMAGE = #{image}, CONTENTS = #{contents}
		WHERE ID = #{bucketId}
	</update>

	<delete id="deleteBucket" parameterType="string">
		DELETE FROM bucket
		WHERE
		ID = #{bucketId}
	</delete>

	<select id="selectAllBucket" resultMap="resultBucket">
		<include refid="selectBucket" />
		ORDER BY ID DESC
	</select>

	<select id="selectAccusedAllBucket" resultMap="resultBucket">
		SELECT id, title,
		image, contents, writer_id, reg_date, recommend, accuesed
		FROM bucket
		WHERE accuesed > 0
	</select>
	
	<select id="retrieveBucketBestRecom" resultMap="resultBucket">
		SELECT id, title,
		image, contents, writer_id, reg_date, recommend, accuesed
		FROM bucket
		WHERE recommend > 0
		ORDER BY recommend DESC
	</select>
	<select id="selectMyBuckets" parameterType="string" resultMap="resultBucket">
		<include refid="selectBucket" />
		WHERE writer_id = #{writerId}
	</select>
</mapper>