<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosta.bucket.dao.mapper.KeepBucketDaoMapper">

<resultMap type="KeepBucket" id="resultKeepBucket">
	<id property="bucketId" column="BUCKET_ID"/>
	<result property="userId" column="USER_ID"/>
</resultMap>

<resultMap type="Bucket" id="resultBucket">
		<id property="bucketId" column="ID" />
		<result property="title" column="TITLE" />
		<result property="image" column="IMAGE" />
		<result property="contents" column="CONTENTS" />
		<result property="writerId" column="WRITER_ID" />
		<result property="registDate" column="REG_DATE" />
		<result property="recomNum" column="RECOMMEND" />
		<result property="accuseNum" column="ACCUESED" />
	</resultMap>

<sql id="selectKeepBucket">
SELECT bucket_id, user_id 
FROM bookmark
</sql>

<select id="selectSomeKeepBucket" parameterType="keepBucket" resultMap="resultBucket">
SELECT A.ID, A.TITLE, A.IMAGE, A.CONTENTS, A.WRITER_ID, A.REG_DATE, A.RECOMMEND, A.ACCUESED
FROM BUCKET A
JOIN BOOKMARK B
ON A.ID = B.BUCKET_ID
WHERE B.USER_ID=#{userId}
AND B.BUCKET_ID=#{bucketId}
</select>

<select id="selectAllKeepBucket" parameterType="string" resultMap="resultBucket">
SELECT A.ID, A.TITLE, A.IMAGE, A.CONTENTS, A.WRITER_ID, A.REG_DATE, A.RECOMMEND, A.ACCUESED
FROM BUCKET A
JOIN BOOKMARK B
ON A.ID = B.BUCKET_ID
WHERE B.USER_ID=#{userId}
</select>

<delete id="deleteKeepBucket" parameterType="KeepBucket">
DELETE FROM BOOKMARK 
WHERE BUCKET_ID=#{bucketId}
AND USER_ID=#{userId}
</delete>

<insert id="insertKeepBucket" parameterType="KeepBucket">
INSERT INTO BOOKMARK(BUCKET_ID, USER_ID)
VALUES (#{bucketId},#{userId})
</insert>

</mapper>