<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosta.bucket.dao.mapper.KeepBucketDaoMapper">

<resultMap type="KeepBucket" id="resultKeepBucket">
	<id property="bucketId" column="BUCKET_ID"/>
	<result property="userId" column="USER_ID"/>
</resultMap>

<sql id="selectKeepBucket">
SELECT bucket_id, user_id 
FROM bookmark
</sql>

<select id="selectAllKeepBucket" parameterType="string" resultMap="resultKeepBucket">
<include refid="selectKeepBucket"/>
WHERE user_id=#{userId}
</select>

<delete id="deleteKeepBucket" parameterType="string">
DELETE FROM BOOKMARK WHERE BUCKET_ID=#{bucketId}
</delete>

<insert id="insertKeepBucket" parameterType="KeepBucket">
INSERT INTO bookmark (BUCKET_ID, USER_ID)
VALUES (#{bucketId},#{userId})
</insert>

</mapper>