<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosta.bucket.dao.mapper.UserDaoMapper">

<resultMap type="User" id="resultUser">
	<id property="userId" column="ID"/>
	<result property="password" column="PASSWORD"/>
	<result property="userName" column="NAME"/>
	<result property="email" column="EMAIL"/>
</resultMap>

<sql id="selectUser">
SELECT id, password, name, email 
FROM bucket_user
</sql>

<insert id="insertUser" parameterType="User">
INSERT INTO bucket_user (ID, PASSWORD, NAME, EMAIL])
VALUES (#{userId}, #{password}, #{userName}, #{email})
</insert>

<select id="retrieveUser" parameterType="">
<include refid="selectUser" />
WHERE ID = #{userId}
</select>

<update id="updateUser" parameterType="">

</update>

<delete id="deleteUser" parameterType="">
DELETE FROM bucket_user
WHERE ID = #{userId}
</delete>

<select id="retrieveAccuesedUser" parameterType="">

</select>

</mapper>