<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>

<typeAliases>
	<typeAlias type="com.kosta.bucket.entity.Bucket" alias="Bucket"/>
	<typeAlias type="com.kosta.bucket.entity.Comment" alias="Comment"/>
	<typeAlias type="com.kosta.bucket.entity.KeepBucket" alias="KeepBucket"/>
	<typeAlias type="com.kosta.bucket.entity.User" alias="User"/>
</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@//localhost:1521/xe"/>
				<property name="username" value="hr"/>
				<property name="password" value="hr"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
	<mapper resource="mapper/BucketDaoMapper.xml"/>
	<mapper resource="mapper/KeepBucketDaoMapper.xml"/>
	<mapper resource="mapper/UserDaoMapper.xml"/>
	</mappers>
</configuration>
